POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password
POSTGRES_DB=vbi
DB_HOST=localhost
DB_PORT=5454
# For local usage on the host machine. Containers should override this to use db:5432.
DATABASE_URL=postgresql://admin:your_password@localhost:5454/vbi
