# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

CLAUDE.md

# Disable format in docs
/apps/website/doc_build
/apps/website/docs/**/*.md


# Disable format in vseed
/packages/vseed/dist/**/*
/packages/vseed/coverage/**/*
/packages/vseed/tests/**/*.ts